section#welcome {
    position: relative;
    overflow: hidden;

    #retrobg {
        position: relative;
        overflow: hidden;
        height: 100vh;
        color: #a3c;
        background-color: #000;
        &-sky {
            position: absolute;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            top: 0;
            width: 100%;
            height: 70%;
            background: linear-gradient(#214 75%, #249);
        }
        &-ground {
            position: absolute;
            overflow: hidden;
            width: 100%;
            height: 30%;
            bottom: 0;
            border-top: 2px solid #bf578c;
            background-color: #000;
        }
        &-groundShadow {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(#000 0%, transparent);
        }
        &-linesWrap {
            height: 100%;
            perspective: 1000px;
            perspective-origin: center top;
        }
        &-lines {
            position: absolute;
            width: 100%;
            height: 100%;
            transform-origin: top center;
            animation: 0.35s linear infinite retrobg-lines-anim;

            .retrobg-hline,
            .retrobg-vline {
                width: 100%;
                height: 100%;
                background-color: rgb(var(--color-primary-500-raw));
            }
            .retrobg-hline {
                height: 3px;
            }
            .retrobg-vline {
                width: 3px;
            }
            .retrobg-hline + .retrobg-hline {
                margin-top: 98px;
            }
            .retrobg-vline + .retrobg-vline {
                margin-left: 48px;
            }
        }
        &-hlines,
        &-vlines {
            position: absolute;
            left: calc((900% - 100%) / -2);
            width: 900%;
            height: 500%;
        }
        &-vlines {
            display: flex;
            justify-content: center;
        }
        &-sunWrap {
            position: relative;
            width: 40%;
            margin-bottom: -15%;
        }
        &-sun {
            --glow-color: #d44;
            padding-top: 100%;
            border-radius: 50%;
            background-image: linear-gradient(#fcdf11, #ff623f, #fe2085 50%);
            box-shadow: 0 0 160px 80px var(--glow-color);
        }
        &-mountains {
            position: absolute;
            width: 100%;
            height: 30%;
        }
        &-mountains-left {
            left: 0;
            clip-path: polygon(
                0% 100%,
                0% 55%,
                5% 60%,
                10% 55%,
                20% 50%,
                25% 42%,
                30% 38%,
                33% 35%,
                40% 45%,
                50% 50%,
                60% 70%,
                70% 85%,
                75% 82%,
                80% 91%,
                85% 90%,
                90% 95%,
                95% 98%,
                100% 100%
            );
        }
        &-mountains-right {
            right: 0;
            clip-path: polygon(
                0% 100%,
                5% 95%,
                10% 85%,
                15% 87%,
                20% 80%,
                25% 78%,
                30% 65%,
                40% 70%,
                50% 57%,
                60% 53%,
                67% 68%,
                70% 70%,
                75% 66%,
                80% 55%,
                90% 50%,
                95% 60%,
                100% 57%,
                100% 100%
            );
        }
        &-cityWrap {
            position: absolute;
            width: 50%;
            margin-left: -1%;
        }
        &-city {
            padding-top: 20%;
        }
    }

    .retrobg {
        &-mountain {
            position: absolute;
            width: 30%;
            height: 100%;
            background-image: linear-gradient(#000 70%, #111 85%, #fff1);
        }
        &-building {
            position: absolute;
            width: 5%;
            height: 100%;
            bottom: 0;
            border-radius: 4px 4px 0 0;
            background-image: linear-gradient(0deg, rgba(17, 17, 34, 0), #112 30px, #000);
        }
        &-building:nth-child(odd) {
            background-image: linear-gradient(0deg, rgba(24, 24, 42, 0), #223 30px, #000);
        }
        &-antenna::after {
            content: '';
            position: absolute;
            left: 50%;
            margin-left: calc(-1px - 5%);
            bottom: 100%;
            width: 10%;
            min-width: 2px;
            height: 33%;
            background-color: #000;
        }
    }
}

@keyframes retrobg-lines-anim {
    from {
        transform: rotateX(84deg) translateY(0);
    }
    to {
        transform: rotateX(84deg) translateY(100px);
    }
}
